.dragAndDropZone {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dragAndDrop {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 12px;
  border: 1px dashed var(--purpleColor);
  color: var(--purpleColor);
  cursor: pointer;
}

.dragAndDropText {
  color: var(--inputPlaceholderColor);
}

.selectedFileContainer {
  width: 100%;
  height: 56px;
  border-radius: 12px;
  background-color: var(--inputBackgroundColor);
  display: flex;
  gap: 12px;
  padding: 0px 8px 0px;
  justify-content: center;
  align-items: center;
  color: var(--inputPlaceholderColor);
  font-size: 14px;
}

img.previewImage {
  display: block;
  width: 40px;
  min-height: 40px;
  max-height: 40px;
  object-fit: cover;
  border-radius: 8px;
}

.fileName {
  flex-grow: 1;
}

.removeFileIcon {
  cursor: pointer;
  padding-right: 10px;
}

.errorText {
  color: var(--errorColor);
  font-size: 14px;
}

.button {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  border-radius: 16px;
  padding: 4px 12px;
  color: var(--descriptionText);
  background-color: var(--backgroundSelectedOrHoverOption);
  cursor: pointer;
  text-align: center;
}

.button:hover {
  color: var(--allTextColor);
}

@media screen and (max-width: 555px) {
  .errorText {
    font-size: 12px;
  }
}
