button.button {
  width: 124px;
  font-size: 14px;
  line-height: 20px;
  color: var(--colorOption);
  background-color: var(--backgroundOption);
  text-align: start;
  border-radius: 8px;
  cursor: pointer;
  padding: 6px;
}

button.button:hover {
  background-color: var(--backgroundSelectedOrHoverOption);
}

@media screen and (max-width: 555px) {
  button.button {
    font-size: 12px;
    line-height: 16px;
  }
}
