.userInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 580px;
  flex-grow: 1;
}

.userName {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  flex-grow: 1;
}

.userDescription {
  width: 100%;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  color: var(--descriptionText);
  flex-grow: 1;
  gap: 25px;
}

.userCompany,
.userContacts,
.userData,
.itemUserData {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1;
}

.userCompany,
.userContacts {
  max-width: 150px;
}

@media screen and (max-width: 850px) {
  .userInfo,
  .userCompany,
  .userContacts {
    max-width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .userDescription {
    flex-direction: column;
    gap: 12px;
  }

  .buttons {
    margin-top: 16px;
  }
}
