.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  padding-top: 48px;
  width: 540px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

form.form {
  width: 100%;
}

.text {
  align-self: flex-start;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

.inputsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.errorText {
  color: var(--errorColor);
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 555px) {
  .container {
    width: 90%;
  }

  .text {
    font-size: 24px;
    line-height: 32px;
  }

  .errorText {
    font-size: 12px;
    line-height: 16px;
  }
}
